footer {
  position: fixed;
  bottom: 0;
  left: calc((100% - 22rem)/ 2);
}

.footer {
  background-color: #3f3f4e;
  opacity: 1;
  z-index: 5;

  &-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3f3f4e;
    border: none;
  }

  &* {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2.5rem;
  }
}

.footer-item:hover .fa-house, .fa-heart, .fa-bars {
  color: #ed2bdac2;
}