.error-wrapper {
  position: absolute;
  background-color: #be123c;
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
  right: 1rem;
  top: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.7s ease;
}

.error-wrapper.show {
  visibility: visible;
  opacity: 1;
}

.error {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error>* {
  margin: 0 0.5rem;
}

.error-close {
  cursor: pointer;
}