html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{height:100%}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}

html {
    font-family: Montserrat;
    color: white
}

body{
    background-color: #030317c2;
}

body.light {
    background-color: #fff;
    color: #000;
}

.wrapper {
    height: 100vh;
}


.container {
    position: relative;
    width: 20rem;
    margin: 0px auto;
    padding: 1rem;
    
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-info-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}

.header-return {
    display: none;
    margin-right: 1rem;
    cursor: pointer;
}

.header-info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.header-city {
    font-size: 2rem;
}

.header-icon img {
    width: 6rem;
    height: 6rem;
}

.header-temparature {
    font-size: 3.5rem;
    padding-bottom: 1rem;
}

.header-status {
    padding: 1rem;
    flex: 0 0;
    background-color: #6717e8;
    border-radius: 15px;
    flex-wrap: wrap;
}

.weather__info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.weather__info-pressure-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather__info-pressure-icon {
    margin-right: 0.5rem;
}

.weather__info-humidity-icon {
    margin-right: 0.5rem;
}

.weather__info-humidity-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather__info-wind-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather__info-wind-icon {
    margin-right: 0.5rem;
}

.sunset-sunrise .container {
    padding-top: 0.5rem;
}

.sunset-sunrise-divider {
    width: 100%;
    height: 1px;
    background: rgb(25,24,189);
    background: linear-gradient(90deg, rgba(25,24,189,1) 11%, rgba(151,69,23,1) 50%, rgba(204,22,61,1) 83%);
}

.sunset-wrapper{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 1rem;
}

.sunset {
    padding-left: 0.5rem;
}
.sunrise {
    padding-left: 0.5rem;
}

.sunrise-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
}


.today__temp-container {
    padding: 0;
    overflow: auto;
}

.today__temp-container::-webkit-scrollbar {
    width: 0;
}

.today__temp-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.today__temp-item {
    margin: 0.6rem;
}

.today-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.today-item__time {
    font-size: 0.7rem;
    padding-bottom: 1rem;
}

.today-item__icon {
    padding-bottom: 1rem;
}

.week__temp {
    padding-bottom: 3rem;
}

.week__temp .container {
    padding-top: 0;
}

.week__temp-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.week__temp-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.week-item {
    width: 100%;
}

.week-item__day {
    margin-right: auto;
}

.item {
    padding: 1rem 0;
}

.week-item__daytemp {
    margin-left: auto;
}

.week-item__nighttemp {
   margin-left: auto;
   color: lightcyan;
   opacity: 0.7;
}

.week-item__icon {
    padding: 0;
}

.week-item__icon img {
    width: 3rem;
    height: 3rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: calc((100% - 22rem)/ 2);
}

.footer {
    background-color: #3f3f4e;
    opacity: 1;
    z-index: 5;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-item {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #3f3f4e;
    border: none;
}

.footer-item * {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2.5rem;
}

.footer-item:hover .fa-house, .fa-heart, .fa-bars {
    color: #ed2bdac2;
}

.fa-cloud {
    opacity: 0.75;
}

.fa-wind, .fa-circle-exclamation, .fa-droplet {
    color: #8e99d4c2;
}

.fa-house, .fa-heart, .fa-bars, .fa-magnifying-glass, .fa-pencil {
    color: #8e99d4c2;
    transition: color 0.3s ease;
}
.fa-house:hover, .fa-heart:hover, .fa-bars:hover {
    color: #ed2bdac2;
}

.fa-sun {
    color: #f24e07c2;
}

.fa-moon {
    color: #6717e8;
}

.fa-magnifying-glass {
    color: #8e99d4c2;
}

.fa-pencil {
    color: #8e99d4c2;
}

.active {
    color: #ed2bdac2;
}

input {
    color: aliceblue;
}

.input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-search {
    width: 100%;
    margin: 0 1rem;
    background-color: transparent;
    border: none;
    height: 1.5rem;
}


.input-search-icon {
    line-height: 2.5rem;
}

.search-form {
    position: relative;
}

.input-edit-icon {
    line-height: 2.5rem;
}

.input-search-icon:hover .fa-magnifying-glass {
    color: #ed2bdac2;
}

.input-edit-icon:hover .fa-pencil {
    color: #ed2bdac2;
}


a {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #3f3f4e;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: none;
}

a:hover .fa-house:hover, .fa-heart:hover, .fa-bars:hover, .fa-pencil:hover, .fa-magnifying-glass:hover {
    color: #ed2bdac2;
}

a:hover {
    color: #ed2bdac2;
}

.saved-cities-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.saved-cities {
    padding-bottom: 3rem;
}

.saved-cities .container {
    overflow: auto;
}

.city {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: right;
    flex-direction: column;
    width: calc(50% - 1rem);
    border-radius: 30px;
    background-color: #0a071255;
    margin-bottom: 1rem;
    cursor: pointer;
    /* border: 1px solid #1319cff1; */
}

.city-deg-icon {
    display: flex;
    justify-content: space-between;
    padding: 0.7rem;
}

.city-deg {
    font-size: 1.5rem;
    padding-top: 1rem;
}

.city-name {
    padding-left: 0.7rem;
}

.city-delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    text-align: center;
    border-radius: 40%;
    border: 1px solid;
    padding-bottom: 0.1rem;
}

.country-name {
    padding-left: 0.7rem;
    font-size: 0.8rem;
    margin: 0.5rem 0;
    color: grey;

}

.city-weather-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 0 1rem 0rem;
    font-size: 0.7rem;

}

.city-weather-humidity-wrapper {
    display: flex;
    justify-content: space-between;
}

.city-weather-humidity-icon {
    margin-right: 0.5rem;
}

.city-weather-wind-wrapper {
    display: flex;
}

.city-weather-wind-icon {
    margin-right: 0.5rem;
}





.settings-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.your-location-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.your-location-icon {
    margin-right: 0.5rem;
}

.your-location-title {
    font-size: 0.7rem;
    opacity: 0.6;
}

.city-country {
    margin: 1rem 0 1rem 0;
}

.city-status {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6717e8;
    border-radius: 15px;
}

.city-temperature {
    margin-top: 1.5rem;
    font-size: 3rem;
}

.city-settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0;
    width: 100%;
    margin-top: 1.5rem;
}

.settings {
    padding-bottom: 3rem;
}

.settings-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
}

.settings-item-choice {
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 15px;
}

.choice-temperature, .choice-wind, .choice-theme {
    cursor: pointer;
}





.error-container {
    text-align: center;
}

.error-404 {
    padding-top: 1.5rem;
    font-size: 5rem;
}

.error-message {
    padding-top: 1.5rem;
    font-size: 1rem;
    letter-spacing: 2px;
}








.found-cities-wrapper {
    position: absolute;
    width: 100%;
    background-color: rgb(132, 128, 196);
    border-radius: 15px;
    z-index: 5;
}

.city-found {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
    margin: 0 0.7rem;
}

.city-found-icon {
    cursor: pointer;
}