body.light {
  background-color: #fff;
  color: #000;

  .header-status {
    color: #fff;
  }

  .week-item__nighttemp {
    color: blue;
  }

  input {
    color: #000;
  }

  .city-status {
    color: #fff;
  }

  .city {
    background-color: lightblue;
  }

  .footer {
    background-color: #fff;
  }

  .footer-item {
    background-color: #fff;
  }

  a {
    background-color: #fff;
  }
}

