$whiteColor: #fff;
$blackColor: #000;

body.light {
  background-color: $whiteColor;
  color: $blackColor;

  .header-status {
    color: $whiteColor;
  }

  .week-item__nighttemp {
    color: blue;
  }

  input {
    color: $blackColor;
  }

  .city {
    background-color: lightblue;

    &-status {
      color: $whiteColor;
    }
  }

  .footer {
    background-color: $whiteColor;

    &-item {
      background-color: $whiteColor;
    }
  }

  a {
    background-color: $whiteColor;
  }
}